* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
background-color: #E2E1E2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 250px;
    height: 70px;
    background: #9e88c0;
    color: #ffffff;
    border-radius: 18px;
    outline: none;
    margin: 50px;
    font-family:'Roboto Slab', bold;
    font-size: 45px;
}

#showing {
    padding: 12px;
    font-size: 2.1rem;
    min-width: 90px;
    border-radius: 5px;
    color: #FFFFFF;
}

#showing {
    padding: 12px;
    font-size: 1.7rem;
    min-width: 90px;
    border-radius: 5px;
    color: #FFFFFF;
}

#showing2 {
    padding: 12px;
    font-size: 1.7rem;
    min-width: 90px;
    border-radius: 5px;
    color: #FFFFFF;
}

